@model CarRent.ViewModels.UserDetailsViewModel
@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>User info</h3>
<hr />
<div class="row">
    <div class="col-md-4">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => Model.BirthDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DrivingLicenseDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => Model.DrivingLicenseDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IDNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => Model.IDNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => Model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Debt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Debt) $
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fine)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fine) $
            </dd>
        </dl>
    </div>
    </div>
    <div class="col-md-6">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Car</th>
            <th>Price</th>
            <th>Status</th>
            <th>Problem</th>
            <th>Fine</th>
        </tr>
        @foreach (var item in Model.OrderProblemViewModels)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.UserName</td>
                <td>@item.BrandModel</td>
                <td>@item.Price</td>
                <td>@item.Status</td>
                <td>@item.Problem</td>
                <td>@item.Fine</td>
            </tr>
        }
    </table>
    </div>
</div>

@if (!Model.IsBlocked)
{
    using (Html.BeginForm("BlockUser", "Admin"))
    {
        <hr />
        <p>
            Block this user
        </p>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Blocking.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Blocking.Reason, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Blocking.Reason, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Blocking.BlockFinish, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Blocking.BlockFinish, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Blocking.BlockFinish, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.Hidden("userID", Model.UserID)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Block" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }
}
else
{
    <h3>This user is blocked</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blocking.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blocking.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blocking.BlockFinish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blocking.BlockFinish)
        </dd>
    </dl>

    using (Html.BeginForm("UnblockUser", "Admin"))
    {
        @Html.Hidden("userID", Model.UserID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Unblock" class="btn btn-success" />
            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
