@using CarRent.ViewModels
@model  StockManageViewModel

<table class="table" style="width: 40%; ">
    <tr>
        <th>Car</th>
        <th>Amount</th>
        <th>Amount Rented</th>
        <th></th>
    </tr>

    @foreach (var item in Model.CarsInStock)
    {
        <tr>
            <td>
                @item.Car.Brand @item.Car.Model
            </td>

            <td>
                @item.Amount
            </td>

            <td>
                @item.AmountRented
            </td>

            <td>
                @Ajax.ActionLink("Add Car", "AddCar", "Stock", new {cityId = Model.City.ID.ToString(), carID = item.Car.ID.ToString() }, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-info" })

                @if ((item.Amount - item.AmountRented) >= 1)
                {
                    @Ajax.ActionLink("Remove car", "RemoveCar", "Stock", new { cityId = Model.City.ID.ToString(), carID = item.Car.ID.ToString() }, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-warning" })
                }
                else
                {
                    @Ajax.ActionLink("Remove Car", "RemoveCar", "Stock", new { cityId = Model.City.ID.ToString(), carID = item.Car.ID.ToString() }, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-warning disabled" })
                }
            </td>
        </tr>

    }
</table>