@model IEnumerable<Entities.Car>

@{
    ViewBag.Title = "Index";
}

<h2>List of all cars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Car", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
{
    <div class="form-group">
        @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Search Car" })
    </div>
    @:|
    <div class="checkbox">
        @Html.CheckBox("showArchive", false) Show archive cars
    </div>
    @:|
    <button type="submit" class="btn btn-default">Submit</button>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {     
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @if (item.Archived)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new {@class = "text-danger" }) @:|
                    @Html.ActionLink("Unarchive", "Archive", new { id = item.ID }, new {@class = "text-danger" })
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @:|
                    @Html.ActionLink("To archive", "Archive", new { id = item.ID })
                }


            </td>
        </tr>
    }

</table>
